---
title: Omega Overview
author: Mo Morsi
date: 2014-01-01 19:21:59 -05:00
---
= omega_blog_title

.post.justify_post
  %p
    %b Omega:
    %ul
      %li tracks and provides access to: Galaxies, Solar Systems, Stars, Planets, Asteroids, Ships, Space Stations, and More
      %li provides easy to use high level simulation statistics
      %li provides a robust scriptable interface through which sequences of events can be defined and customized
      %li is implemented in #{link_to "Ruby", "http://en.wikipedia.org/wiki/Ruby_%28programming_language%29"}
      %li implements a #{link_to "Client/Server", "http://en.wikipedia.org/wiki/Client_server"} architecture
      %li
        listens for #{link_to "JSON-RPC", "http://en.wikipedia.org/wiki/JSON-RPC"} requests over:
        %ul
          %li #{link_to "TCP/IP", "http://en.wikipedia.org/wiki/Transmission_Control_Protocol"}
          %li #{link_to "HTTP", "http://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol"}
          %li #{link_to "AMQP", "http://en.wikipedia.org/wiki/AMQP"}
          %li And More! (any transport supported by #{link_to "RJR", "https://github.com/movitto/rjr"})
      %li provides many user-friendly #{link_to "utility commands", "https://github.com/movitto/omega/tree/master/bin/util"} and #{link_to "examples", "https://github.com/movitto/omega/tree/master/examples"}
      %li provides a powerful web-frontend based on #{link_to "middleman", "http://middlemanapp.com/"} and #{link_to "three.js", "http://threejs.org/"}
      %li is growing by the day!

    Stay tuned for more!

= omega_blog_footer
