---
title: Note - megaverse.info is currently RO
author: Mo Morsi
date: 2014-01-30 08:23:45 -05:00
---
= omega_blog_title

.post.justify_post{:style => "padding: 10px 0 10px 0;"}
  %p
    I've already had a couple of questions regarding this so figure I'd explain
    here to hopefully head off any future confusion.

  %p
    While user registrations are enabled at the Megaverse node running at
    #{link_to "megaverse.info", "http://megaverse.info"}, the
    #{project_file_link "post-user-registration script", "examples/hooks.rb"}
    has <b>not</b> been run there. Thus user ships, etc will not be created
    on registration. You can access / view the universe anonymously (after
    resources are finished loaded as indicated by the icon in the lower left
    you may access systems via the menu in the upper right). But logging in
    will not grant you access to ships to move around / manipulated and such.

  %p
    This is coming soon but first I wanted to have a test day to hammer on
    things w/ a fixed group of people to get a feel for performance and
    areas that need to be optimized. If you're interested in this, feel
    free to join the
    #{link_to "mailing list", "https://groups.google.com/forum/#!forum/megaverse"}
    or #{link_to "chat channel",  "http://webchat.freenode.net/?channels=megaverse"}
    as we will be organizing the event there.

  %p
    On a <i>related</i> note, if there are any interaction designers / or similar
    out there who are interested in this sort of project I'd love to work with 
    you to improve the user's experience. If you wanted to toss the ball around
    on ideas feel free to reach out via any means or even toss some concepts /
    mockups my way, maybe we can work together to realize them!

  %p
    And on a <i>somewhat related</i> note, as mentioned on the podcast we
    now have a second instance on the Megaverse running at the local hackerspace
    the #{link_to "Syracuse Innovators Guild", "http://sig315.org"}. While the
    two instances aren't linked up (yet) the second one can be accessed by navigating
    to #{link_to "syracloud.net", "http://syracloud.net:8080/womega"}. Like the first
    node this instance is currently read-only and furthermore user registrations have
    not been enabled there (for now...)

  %p
    Already some more exciting features in the works, make sure to check the codebase
    regularily for updates. Thats it for now!

= omega_blog_footer
