---
title: Omega - The Hackathon!
author: Mo Morsi
date: 2014-01-12 12:21:03 -05:00
---
= omega_blog_title

.post.justify_post
  %p
    Yesterday a few of the Omega contributors got together
    in the #{link_to "#megaverse", "http://webchat.freenode.net/?channels=megaverse"}
    chatroom on the #{link_to "freenode", "http://freenode.net/"}
    IRC network for the first Omega hackathon. It was a great time for all,
    and we made great progress, Nico tracked down a few #{issue_link "bugs", 8}
    and submitted some #{commit_link "code", "ec6583330"}, Nitesh continued
    making headway on packaging deps in rpms, and I swapped the JS Star texture
    with a different one to handle the
    #{link_to "pinching at the poles", "http://en.wikipedia.org/wiki/Hairy_ball_theorem"}
    issue (while not animated the new Star representation does include a nice
    glow component).

  = captioned_screenshot "old-star.png", "Old Star Effects"
  = captioned_screenshot "new-star.png", "New Star Effects"
  %div{:class => 'clear_both'}

  %p
    We all agreed that it'd be worthwhile to do this regularily and I'd like to
    to also start hosting small meetups at the local
    #{link_to "hackerspace", "http://sig315.org/"} to be held in conjunction
    with the virtual event. I also intend to be in the
    #{link_to "#megaverse", "irc://irc.freenode.net#megaverse"} chatroom
    on irc.freenode.net as much as possible, so if anyone is interested in the
    project and/or has any questions feel free to pop on in and ping me (include
    my nick 'mmorsi' in your message and it'll flash on my screen).
    Alternatively feel free to send any questions to the
    #{link_to "support list", "https://groups.google.com/forum/#!forum/megaverse"}
    and I'll get back to you as quickly as possible.

  %p
    Happy hacking!

= omega_blog_footer
